Package: gstreamer1.0-rtsp-dbg
Source: gst-rtsp-server1.0
Version: 1.14.1-1~ubuntu18.04.1
Architecture: amd64
Maintainer: Maintainers of GStreamer packages <gst-rtsp-server1.0@packages.debian.org>
Installed-Size: 123
Depends: gstreamer1.0-rtsp (= 1.14.1-1~ubuntu18.04.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://gstreamer.freedesktop.org
Description: RTSP plugin for GStreamer
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the GStreamer plugin for RTSP.
Build-Ids: a7203c324af2f7f86f25bc65c6b06718655f8bc1
