Package: libgstrtspserver-1.0-0-dbg
Source: gst-rtsp-server1.0
Version: 1.14.1-1~ubuntu18.04.1
Architecture: amd64
Maintainer: Maintainers of GStreamer packages <gst-rtsp-server1.0@packages.debian.org>
Installed-Size: 482
Depends: libgstrtspserver-1.0-0 (= 1.14.1-1~ubuntu18.04.1)
Section: debug
Priority: extra
Homepage: https://gstreamer.freedesktop.org
Description: GStreamer RTSP Server (debug symbols)
 gst-rtsp-server is a library on top of GStreamer for building an RTSP
 server or embedding RTSP server capabilities into applications.
 .
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
Build-Ids: 9ff66913fe43407283ac1bde45ab7c046105dacb
